.rating {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}
.rating input {
  display: none;
}
.rating label {
  display: block;
  cursor: pointer;
  width: 50%;
}
.rating label:before {
  content: "\f005";
  font-family: "fontAwesome";
  position: relative;
  display: block;
  font-size: 50px;
  color: #101010;
}
.rating label:after {
  content: "\f005";
  font-family: "fontAwesome";
  position: absolute;
  display: block;
  font-size: 50px;
  color: #1f9cc1;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
  opacity: 1;
}

:root {
  --mainBlue: #0568a6;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
body {
  font-family: "Oswald", sans-serif;
  background: var(--mainwhite);
  color: var(--mainDark);
}
.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainWhite);
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
